<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Keyboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/header :: mainheader"></div>
<form th:object="${keyboard}" th:action="${'/keyboard/add'}" method="post">
  <input th:field="*{name}" type="text" name="name" placeholder="Введите название">
    <div style="color: red " th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  <input th:field="*{type}" type="text" name="type" placeholder="Введите тип">
    <div style="color: red " th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
  <input th:field="*{switches}" type="text" name="switches" placeholder="Введите переключатели">
    <div style="color: red " th:if="${#fields.hasErrors('switches')}" th:errors="*{switches}"></div>
  <input th:field="*{formPer}" type="text" name="formPer" placeholder="Введите формафактор %">
    <div style="color: red " th:if="${#fields.hasErrors('formPer')}" th:errors="*{formPer}"></div>
  <input th:field="*{keyNums}" type="text" name="keyNums" placeholder="Введите количество кнопок">
    <div style="color: red " th:if="${#fields.hasErrors('keyNums')}" th:errors="*{keyNums}"></div>
  <br>
  <button type="submit" class="btn btn-outline-primary">Добавить клавиатуру</button>
</form>
<a href="/" class="btn btn-outline-secondary">Назад</a>
</body>
</html>